<template>
  <RouterView/>
</template>

<script setup>
import { onBeforeMount, onMounted } from 'vue';

import { useSettings } from './Store/Store';

const settings = useSettings();

onBeforeMount(()=> settings.getSettings());

const mounted = ()=> {

  let errors = document.querySelectorAll('.notice-warning, .notice-error');

  if(errors.length > 0) {
    errors.forEach((item) => item.remove());
  }

}

onMounted(mounted);

</script>
