<template>
  <MainLayout title="Graph">
    <div v-loading="loading">
      <Bar
          v-if="renderChart"
          id="data-chart"
          :options="chartOptions"
          :data="chartData"
      />
    </div>
  </MainLayout>
</template>

<script setup>
import { Bar } from 'vue-chartjs'
import { computed, onMounted, ref } from 'vue';
import { useData, useSettings } from '../Store/Store'
import { formatDate } from '../util/helper';
import MainLayout from '../Layouts/MainLayout.vue';

import { Chart as ChartJS, Title, Tooltip, Legend, BarElement, CategoryScale, LinearScale } from 'chart.js'
ChartJS.register(Title, Tooltip, Legend, BarElement, CategoryScale, LinearScale)

const state = useData();
const settings = useSettings();

const loading = computed(() => {

  if (state.loading) {
    return true;
  }

  return settings.loading;
})

const renderChart = ref(false);

const chartData = {
  labels: [],
  datasets: [
    {
      fill: false,
      label: 'Sales',
      backgroundColor: 'rgba(255, 99, 132, 0.2)',
      borderColor: '#f87979',
      borderWidth: 1,
      data: [],
      hoverBackgroundColor: '#f87979',
    },
  ],
};

const dateFormat = computed(() => settings.data.settings.show_date_in_format || 'human_readable')

const populateChartData = () => {

  if (Object.keys(state.data.graph).length === 0) {
    return;
  }

  let labels = [];
  let datasets = [];

  for (let key in state.data.graph) {
    labels.push(formatDate(state.data.graph[key]['date'], dateFormat.value))
    datasets.push(state.data.graph[key]['value'])
  }

  chartData.labels = labels;
  chartData.datasets[0].data = datasets;

}


const chartOptions = {
  responsive: true,
  maintainAspectRatio: false,
}

onMounted(async () => {
  await state.getGraph();
  populateChartData();
  renderChart.value = true;
});

</script>

<style scoped>
#data-chart {
  width: 100%;
  height: 450px;
}
</style>
