<template>
  <MainLayout title="Top Pages">
    <div v-loading="loading">
      <el-table :data="tableData">
        <el-table-column prop="id" label="ID"/>
        <el-table-column prop="title" label="Title"/>
        <el-table-column prop="pageviews" label="Page Views"/>
        <el-table-column prop="url" label="URL"/>
        <el-table-column label="Date" #default="slot">
          {{ formatDate(slot.row.date, dateFormat) }}
        </el-table-column>
      </el-table>
    </div>
  </MainLayout>
</template>
<script setup>
import { useData, useSettings } from '../Store/Store';
import { computed, onMounted } from 'vue';
import { formatDate } from '../util/helper';
import MainLayout from '../Layouts/MainLayout.vue';

const state = useData();
const settings = useSettings();

const loading = computed(() => {

  if (state.loading) {
    return true;
  }

  return settings.loading;

})

const itemPerPage = computed(() => settings.data.settings.show_row_in_table || 5)
const dateFormat = computed(() => settings.data.settings.show_date_in_format || 'human_readable')

const tableData = computed(() => {
  return state.getTableData.slice(0, itemPerPage.value);
});


onMounted(state.getTopPages);

</script>

<style scoped>

</style>
