<template>
  <MainLayout title="Settings">
    <div v-loading="loading">
      <el-form
          :model="settings.form"
          label-position="top"
          @submit.prevent="saveSettings"
          class="setting-form"
      >

        <el-form-item label="Show Table Row">
          <el-input-number
              v-model="settings.form.show_row_in_table"
              placeholder="enter number you want to show in number"
              type="number"
              :min="1"
              :max="5"
          />
        </el-form-item>

        <el-form-item label="Show Date In">

          <el-radio-group
              v-model="settings.form.show_date_in_format"
          >
            <el-radio
                v-for="item in settings.showDateInOptions"
                :key="item.value"
                :label="item.value"
            >
              {{ item.label }}
            </el-radio>
          </el-radio-group>

        </el-form-item>

        <el-form-item label="Emails">
          <small class="email-help-text" v-if="settings.inputVisible">Please input a new Email. press ESC to cancel enter to confirm</small>
          <div class="emails">
            <el-tag
                v-for="tag in settings.form.emails"
                :key="tag"
                class="mx-1"
                closable
                :disable-transitions="false"
                @close="handleClose(tag)"
            >
              {{ tag }}
            </el-tag>
            <el-input
                v-if="settings.inputVisible"
                ref="InputRef"
                v-model="settings.inputEmail"
                class="ml-1 w-20"
                size="small"
                @keyup.esc="settings.inputVisible = false"
                @keyup.enter="handleInputConfirm"
            />
            <el-button
                v-else
                class="button-new-tag ml-1"
                @click="showInput"
                size="small"
                type="success"
                :disabled="settings.form.emails.length >= 5"
            >
              + New Email
            </el-button>
          </div>
        </el-form-item>

        <el-form-item>
          <el-button type="primary" @click="saveSettings">Save</el-button>
        </el-form-item>

      </el-form>
    </div>
  </MainLayout>
</template>

<script setup>
import MainLayout from '../Layouts/MainLayout.vue';
import { computed, nextTick, onMounted, reactive, ref } from 'vue';
import { useSettings } from '../Store/Store';

import { useNotify } from '../Composables/composables';

const notify = useNotify();

const state = useSettings();

const inputRef = ref(null);

const loading = computed(()=> state.loading)


const settings = reactive({

  showDateInOptions: [
    { label: 'Human Readable', value: 'human_readable' },
    { label: 'Timestamp', value: 'timestamp' },
  ],

  inputEmail: '',
  inputVisible: false,

  form: {
    emails: [],
    show_date_in_format: '',
    show_row_in_table: 0,
  }

});

const showInput = () => {

  settings.inputVisible = true;

  nextTick(() => {
    inputRef?.value?.focus();
  });

};


const handleClose = (removedTag) => {

  if (settings.form.emails.length === 1) {
    notify.error('You can not remove the last email');
    return;
  }

  settings.form.emails = settings.form.emails.filter((tag) => tag !== removedTag);
};

const handleInputConfirm = () => {

  const inputValue = settings.inputEmail;
  let errorMessages = null;

  if (!inputValue) {
    errorMessages = 'Please enter an email address';
  }

  // check if the email is valid
  const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;

  if (!emailRegex.test(inputValue)) {
    errorMessages = 'Please enter a valid email address';
  }

  // check if the email is already in the list
  if (settings.form.emails.includes(inputValue)) {
    errorMessages = 'Email already exists';
  }

  // check if the email count is more than or equal to 5
  if (settings.form.emails.length >= 5) {
    errorMessages = 'You can only add 5 emails';
  }

  if(!errorMessages) {

    settings.form.emails.push(inputValue);
    settings.inputVisible = false;
    settings.inputEmail = '';
    errorMessages = null;

    return;
  }

  notify.error(errorMessages);

};


const saveSettings = async () => {

  await state.updateSettings(settings.form, {

    successCb: ()=> {
      populateSettings();
      notify.success('Settings updated successfully' );
    },

    errorCb: ()=> {
      notify.error(state.error || 'Something went wrong' );
    }
  });

};

const populateSettings = () => {
  settings.form = {
    ...state.data.settings
  }
};



const getSettings = async () => {
  await state.getSettings();
}


onMounted(async () => {
  await getSettings();
  populateSettings();
});

</script>

<style lang="scss">
.app-error-message {
  margin-top: 20px;
}
.mx-1 {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}
.setting-form {
  .el-input__inner {
    box-shadow: 0 0 0 transparent;
    border-radius: 4px;
    border: 1px solid transparent;
    background-color: #fff;
    color: #2c3338;
    padding: 0;

    &:focus {
      border-color: transparent;
      box-shadow: 0 0 0 2px transparent;
    }
  }
}

.emails {
  display: flex;
  input.el-input__inner {
    min-height: auto;
  }
}

.email-help-text {
  display: block;
  width: 100%;
}

</style>
