<template>
  <div class="main-navigation">
    <el-header>
      <nav class="navigation">
        <h1 class="app-title">Hasan Misbah</h1>
        <ul>
          <li
              v-for="(navigation, index) in navigationLinks"
              :key="`navigation-${index}`"
          >
            <router-link
                :to="{name: navigation.link}"
                exact-active-class="active"
            >
              {{ navigation.title }}
            </router-link>
          </li>
        </ul>
      </nav>
    </el-header>
  </div>
</template>

<script setup>
const navigationLinks = [
  {
    title: 'Home',
    link: 'home'
  },
  {
    title: 'Graph',
    link: 'graph'
  },
  {
    title: 'Settings',
    link: 'settings'
  }
];
</script>

<style scoped lang="scss">

.main-navigation {
  border-bottom: 1px solid #e3e3e3;
  background-color: #fff;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app-title {
  font-size: 22px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 10px;
}

li {
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

li a {
  color: #000000;
  display: block;
  padding: 20px 16px;
  text-decoration: none;
  border-bottom: 2px solid transparent;
}

li a:hover:not(.active) {
  border-bottom-color: #DDDDDD;
}

.active {
  border-bottom-color: #013243;
}
</style>
