<template>
  <div class="main-application">
    <MainNavigation/>
    <div class="main-content">
      <div class="wrap">
        <h1 v-if="title">{{ title }}</h1>
        <el-container>
          <el-main>
            <slot/>
          </el-main>
        </el-container>
      </div>
    </div>
  </div>
</template>

<script setup>
import MainNavigation from '../Component/MainNavigation.vue';

const props = defineProps({
  title: String,
});
</script>

<style scoped lang="scss">
.main-application {
  background-color: #fff;
  margin-left: -20px;

  .main-content {
    margin-left: 20px;
    width: calc(100% - 20px);
    display: block;
    height: 100%;
  }
}
</style>
